body {
  margin: 0;
}

main {
  margin: 30px;
}

.menu-button {
  background: rgba(4, 52, 92, 0.863);
  color: white;
  border: none;
  cursor:pointer;
  outline:none;
}


.spinner-container {
width: 100%;
margin-top: 100px;
}
